h1{
  color: blue;
}

body{
  background-size: 1550px;
  background-image: url(/assets/backJS.png);
  background-attachment: fixed;
}


button:hover{
    background-color: gray;
    color: #fff;
}


#map {
  display: block;
  height: 500px;
  margin: 0 auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}